.category-page {
  color: white;
  padding-top: 0px;
  &__header {
    height: 300px;
  }
  &__title {
    color: white;
    padding: 14px 7px;
    color: white;
    background: rgba(0,0,0,0.8);
  }
}