.admin-pages {
  height: 400px;
  width: 1000;
  direction: rtl;
  .list-group {
    padding: 0px;
  }
  .list-group-item {
    height: 48px;
    cursor: pointer;
    &:hover {
      background: #f9f9f9;
      img:not(.list-icon) {
        display: block;
        &:hover {
          opacity: 1;
        }
      }
    }

    img:not(.list-icon) {
      width: 21px;
      margin: 0px 7px;
      float: left;
      display: none;
      opacity: 0.5;
    }

    .list-icon {
      width: 14px;
      margin-left: 14px;
      display: inline-block;
    }
  }

}

// transiton effects 
.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
  transform: scale(0.5)
}
.fade-enter-active {
  opacity: 1;
  transition: all 200ms ease-in;
  transform: scale(1)
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: all 200ms ease-in;
  // margin-left: -100px;
  // position: relative;
  transform: scale(0.5)
}
