.cta-bar {
  font-size: 34px;
  color: white;
  background-image: url('../../assest/img/row-background.jpg');
  display: flex;
  min-height: 186px;
  align-items: center;
  .glyphicon-earphone {
    margin: -14px 14px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px;
    @media ( max-width: 768px ) {
      margin: -7px 14px;
    }
    @media ( max-width: 345px ) {
      display: none;
    }
  }
}

.cta-bar-inner-container {
 direction: ltr;
}

.app-cta-phone-number {
  margin-right: 14px;
}

.vertical-row {
  width: 14px;
  background: white;
  float: left;
  height: 100px
}
