.cta-bar {
  font-size: 28px;
  color: white;
  background-image: url('../../assest/img/row-background.jpg');
  display: flex;
  min-height: 86px;
  align-items: center;
  @media(max-width: 768px) {
    font-size: 21px;
    .glyphicon-earphone {
      top: 4px;
      margin: -14px 14px;
      padding: 4px;
      border: 1px solid white;
      border-radius: 5px;
    }
  }
  .glyphicon-earphone {
    margin: -14px 14px;
    top: 10px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 5px;
    @media ( max-width: 768px ) {
      margin: -7px 14px;
    }
    @media ( max-width: 345px ) {
      display: none;
    }
  }
}

.cta-bar-inner-container {
 direction: ltr;
}

.app-cta-phone-number {
  margin-right: 14px;
}

.vertical-row {
  width: 14px;
  background: white;
  float: left;
  height: 100px
}
