.navbar .container {
  position: relative;
}

.app-navbar {
  height: 89px;
  background: #800285;
  position: fixed;
  z-index: 9;
  top: 0px;
}

.app-logo-container {
  display: flex;
  height: 86px;
  align-items: center;
  h2 {
    font-size: 36px;
    color: white;
  }
  img {
    margin: 14px;
    width: 42px;
  }
}