 //app-them colors values

 $brand: #8E44AD;
 $brand-light: #9B59B6;
 $brand-active:  #9A12B3;
 $brand-dark: #4B0082;

 $brand-secondary: #F4D03F;
 $brand-secondary-light: #F5D76E;
 $brand-secondary-active:  #F7CA18;
