.nav-tabs-container {
  position: absolute;
  height: 86px;;
  left: 0px;
  top: 0px 
}

.app-navbar-tabs-list {
  display: flex;
    height: 86px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    flex-direction: row-reverse;
  li {
    a {
      color: white !important;
      font-size: 21px;
      &:hover {
        color: #5A2158 !important;
        background: white !important;
      }
    }
    &.active {
      color: #5A2158 !important;
      background: white !important;
    }
  }
}

li.active {
  color: #5A2158 !important;
  background: white !important;
}