.app-jumbotron {
  max-width: 100% !important;
  .app-jumbotron__related-container {
    display: flex;
    @media(max-width: 768px) {
      flex-direction: column; 
    }
    @media(max-width: 768px) {
      flex-direction: column; 
    }
  }

  &__headline {
    border-bottom: 1px dotted gray;
    padding-bottom: 14px;
    color: gray;
    font-size: 18px;
    padding-right: 14px;
    margin-top: 7px;
  }
 .jumbotron {
   padding: 14px !important;
 }
  &__featured {
    width: 100%;
    border-bottom: 4px solid gray; 
    margin-bottom: 28px;
    &-name {
      color: #800285;
      border-right: 8px solid #800285;
      margin-bottom: 6px;
      font-size: 21px;
      padding: 14px 7px;
      background: white;
    }
    &-title {
      font-size: 18px !important;
    }
    img {
      max-width: 100%;
      max-height: 286px;
      margin-bottom: 14px;
    }
    &-more-link {
      font-weight: bold;
      color: darkmagenta;
      cursor: pointer;
    }
  }

  &__related {
    max-width: 30%;
    margin: 14px;
    overflow: hidden;
    &-name {
      font-size: 18px !important;
    }
    &-title {
      font-size: 16px !important;
    }
    img {
      max-width: 100%;
      max-height: 286px;
      border-radius: 5px;
    }
    &-more-link {
      font-weight: bold;
      color: darkmagenta;
      cursor: pointer;
    }
    @media( max-width: 768px) {
      max-width: 100%;
    }
  }

  button {
    background: #4B0082;
    border: none;
    padding: 14px 48px;
    &:hover {
      background: #9A12B3;
    }
  }
}