.social-media-bar {
  height: 186px;
  text-align: center;
  &img {
    max-width: 86px !important;
    margin: 28px;
  } 
}

.col-md-2 img {
  max-width: 84px !important;
  margin: 28px 0px 14px 0px;
}