.app-footer .social-media-bar-small {
  height: 86px;
  text-align: center;
  margin: 14px 0px 14px 0px;
  img {
    max-width: 42px !important;
    margin: 4px 0px 4px 0px;
    @media ( max-width: 1024px ) {
      margin: 4px 0px 4px 0px;
    }
  }
  @media ( max-width: 1024px ) {
    height: auto;
    margin: 14px 0px 14px 0px;
  }
}
