body {
  font-family: 'Tajawal', sans-serif;
}

.container {
  position: relative;
  direction: rtl;
  align-items: center;
}

.row {
  max-width: 100%;
  width: 100%;
  margin-right: 0px; 
  margin-left: 0px;
}

.text-xs-center {
  @media ( max-width: 768px ) {
    text-align: center
  }
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.app-separator {
  width: 100%;
  margin: 28px 0px;
}