.app-footer {
  .app-footer__row {
    color: white;
    text-align: center;
    .app-footer__item {
      margin-top: 14px;
      text-align: center;
      a {
        color: white;
      }
    }
  }
}